# RP2040 debugprobe (CMSIS-DAP) 를 통해 STM32F411 에 연결
#  - 빌드/플래시/디버깅 모두 이 설정을 사용한다.
#  - interface/target .cfg 는 OpenOCD에 기본 포함된 스크립트를 자동으로 찾는다.
source [find interface/cmsis-dap.cfg]
transport select swd
adapter speed 2000
source [find target/stm32f4x.cfg]
